*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font: inherit;
}

html {
	font-size: 62.5%;
}

body {
	background-color: rgba(0, 0, 0, 0.23);
	min-height: 100vh;
}

.btn {
	display: inline-block;
	text-transform: capitalize;
	white-space: nowrap;
	cursor: pointer;
	padding: 0.4375em 0.875em;
	border: 1px solid transparent;
	background-color: lightgray;
}

small {
	border: 1px solid lightcoral;
}
